<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery Class</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :src="image" alt="two green socks">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="onSale">item is on sale!</p>
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0" 
              style="color: rgba(255, 47, 0, 0.79);">
              Only <b>{{inventory}}</b> left!</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div 
              v-for="option in options" 
              :key="option.id"
              @mouseover="updateImage(option.image)"
              >{{ option.color }}</div>
            
            <button class="button" v-on:click="addToCart">Add to Cart</button>
            <button class="button" v-on:click="removeFromCart">Remove from Cart</button>

            <p style="color: rgba(126, 118, 118, 0.598); 
            font-size: x-small;
            text-decoration: none;">
              powered by 
              <span>
                <a :href="url" target="blank"
                style="color: rgba(89, 89, 89, 0.824); 
                font-size: x-small;">
                  aaron a.
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
